* {
	margin: 0;
	padding: 0;
}
body {
	font-family:'open sans',Arial, Helvetica, sans-serif;
}
.navbar-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.navbar-text ul {
	height: 50px;
    float: right;
    font-weight: bold;
}
.navbar-text ul li {
	display: inline-block;
	padding:15px;
	color: #fff;
    font-size: 20px;
    
}
.navbar-text ul li:hover {
	cursor: pointer;
}
.navbar-text .search {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 5%;
}


.event-heading {
	font-weight: bold;
	margin-bottom: 150px;
    
}

.animation-area {
    background: rgb(0,212,212);
    background: linear-gradient(90deg, rgba(0,212,212,0.8295693277310925) 0%, rgba(40,131,98,1) 100%);
    background: rgb(252,218,142);
    background: linear-gradient(90deg, rgba(252,218,142,1) 0%, rgba(252,142,142,1) 100%);
    /*background: linear-gradient(90deg, rgba(40,131,125,0.9051995798319328) 0%, rgba(0,255,201,1) 100%);*/
    /*background:linear-gradient(90deg, rgba(40,131,125,0.9051995798319328) 0%, rgba(255,0,5,0.6502976190476191) 100%);*/
    /*background: linear-gradient(90deg, rgba(40,131,98,1) 18%, rgba(0,255,239,1) 100%);*/
	width: 100%;
	height: 100vh;
}
.cube-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.cube-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255,0.3);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.cube-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.cube-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.cube-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.cube-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.cube-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.cube-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.pure-button {
	color:white;
	font-weight: bold;
	font-size:30px;
	background-color:#ffae42; 
	border-color: #ffae42;
	padding: 20px;
	width:23%;
}
.start-button {
   color:white;
    font-weight: bold;
    font-size:30px;
	border-radius: 12px;     
	padding:25px;  
	background-color:#ffae42; 
	border-color: #ffae42;
}
.start-button:hover{
	background-color:rgba(252,142,142,1)
}

img {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 260px; /* Set a small width */
  }
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
